*{
    box-sizing:border-box;
}

#googleMap{
  height:400px;
  border: 5px solid blue;
  border-radius: 25px;
}

#listaErasmu>li>label{
  width: 50%;
}

ul{
  list-style:none;
  height: 230px;
  overflow: auto;
  background: #E0F2F7;
  border-radius: 20px;
  padding-right: 5%;
  padding-left: 5%;
  border: 5px solid blue;
  border-radius: 10px;
}

input[type=button]{
  width: 100%;
}



li{
  border: 1px solid grey;
  border-radius: 5px;
}

li:nth-child(odd){
  background: grey;
}

li:nth-child(even){
  background: white;
}

.contenedor{
  border: 5px solid blue;
  border-radius: 20px;
  background: #A9D0F5;
}

.datos{
  height:400px;
  border: 5px solid blue;
  border-radius: 20px;
}
